# ANY FIELDS HERE ARE EXAMPLE VALUES.
# Actual values will be based on my full setup in my Spring Boot backend & AWS infrstructure.

# API vars
API_URL=

# API auth...

# Run the following Bash command to generate a local AUTH_SECRET value:
# `openssl rand -base64 32`
# By default, the below is an example value, not a functional auth secret.
# AUTH_SECRET=JH3k9sdf9sdf9sdf9sdf9sdf9sdf==
# AUTH_URL=http://localhost:3000

# No database vars; this is SSR over Spring Boot
