@import "tailwindcss";

:root {
    --bg-color: black;
    --primary-accent: hsl(0, 0%, 85%);
    --primary-accent-dim: hsl(from var(--primary-accent) h s l / 0.5);
}

body {
    min-height: 100dvh;
    background-color: var(--bg-color);
    color: var(--primary-accent);
    font-family: monospace;
}

/* SCROLLBAR STYLES */
* {
    scrollbar-color: var(--primary-accent-dim) var(--bg-color);
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-accent-dim);
}

/* HOVER BUTTON EFFECTS */
.hover-invert {
    background-color: var(--bg-color);
    transition-duration: 0.2s;
}

.hover-invert:hover {
    color: var(--bg-color);
    background-color: var(--primary-accent);
}

.hover-glow {
    transition: 200ms;
}

.hover-glow:hover {
    box-shadow: 0 0 12px var(--primary-accent);
}

/* EMPHASIZED BUTTON */
.accent-bordered-btn {
    border: 1px solid var(--primary-accent);
}

.accent-bordered-btn > * {
    position: relative; 
    top: 50%;
}

/* NON-EMPHASIZED BUTTON */
.dim-accent-bordered-btn {
    border: 1px solid var(--primary-accent-dim);
}

.dim-accent-bordered-btn > * {
    position: relative; 
    top: 50%;
}
