@import "tailwindcss";

:root {
    --bg-color: black;
    --primary-accent: hsl(0, 0%, 85%);
    --primary-accent-dim: hsl(from var(--primary-accent) h s l / 0.5);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-accent);
    font-family: monospace;
}

.hover-btn {
    background-color: var(--bg-color);
    transition-duration: 0.2s;
}

.hover-btn:hover {
    color: var(--bg-color);
    background-color: var(--primary-accent);
}

.accent-bordered-btn {
    border: 1px solid var(--primary-accent);
}

.accent-bordered-btn > * {
    position: relative; 
    top: 50%;
}

.dim-accent-bordered-btn {
    border: 1px solid var(--primary-accent-dim);
}

.dim-accent-bordered-btn > * {
    position: relative; 
    top: 50%;
}
